---
const path = Astro.url.pathname;
const basePath = import.meta.env.BASE_URL || "/";
---

<nav class="explanation__pagination">
  <div class="pagination">
    <a
      class=`dot ${path.endsWith("/commander/") ? "active" : ""}`
      href=`${basePath}crew/commander/`
      data-astro-prefetch
    >
    </a>
    <a
      class=`dot ${path.endsWith("/mission-specialist/") ? "active" : ""}`
      href=`${basePath}crew/missions-specialist/`
      data-astro-prefetch
    >
    </a>
    <a
      class=`dot ${path.endsWith("/pilot/") ? "active" : ""}`
      href=`${basePath}crew/pilot/`
      data-astro-prefetch
    >
    </a>
    <a
      class=`dot ${path.endsWith("/flight-engineer/") ? "active" : ""}`
      href=`${basePath}crew/flight-engineeer/`
      data-astro-prefetch
    >
    </a>
  </div>
</nav>
