---
const path = Astro.url.pathname;
---

<nav class="explanation__nav">
  <a
    href=`/space-tourism/${path.endsWith("moon") ? "#" : "/destinations/moon"}`
    data-astro-prefetch
    class=`item ${path.endsWith("moon") ? "active" : ""}`
  >
    <div class="tab">
      <p class="text-preset-8">MOON</p>
    </div>
  </a>
  <a
    href=`/space-tourism/${path.endsWith("mars") ? "#" : "/destinations/mars"}`
    data-astro-prefetch
    class=`item ${path.endsWith("mars") ? "active" : ""}`
  >
    <div class="tab">
      <p class="text-preset-8">MARS</p>
    </div>
  </a>
  <a
    href=`/space-tourism/${path.endsWith("europa") ? "#" : "/destinations/europa"}`
    data-astro-prefetch
    class=`item ${path.endsWith("europa") ? "active" : ""}`
  >
    <div class="tab">
      <p class="text-preset-8">EUROPA</p>
    </div>
  </a>
  <a
    href=`/space-tourism/${path.endsWith("titan") ? "#" : "/destinations/titan"}`
    data-astro-prefetch
    class=`item ${path.endsWith("titan") ? "active" : ""}`
  >
    <div class="tab">
      <p class="text-preset-8">TITAN</p>
    </div>
  </a>
</nav>
