---
const path = Astro.url.pathname;
const basePath = import.meta.env.BASE_URL || "/";
---

<nav class="pagination">
  <a
    class=`pag-circle ${path.endsWith("/technology/launch-vehicle/") ? "active" : ""}`
    href=`${basePath}technology/launch-vehicle/`
    data-astro-prefetch
  >
    <p class="text-preset-4">1</p>
  </a>
  <a
    class=`pag-circle ${path.endsWith("/technology/spaceport/") ? "active" : ""}`
    href=`${basePath}technology/spaceport/`
    data-astro-prefetch
  >
    <p class="text-preset-4">2</p>
  </a>
  <a
    class=`pag-circle ${path.endsWith("/technology/space-capsule/") ? "active" : ""}`
    href=`${basePath}technology/space-capsule/`
    data-astro-prefetch
  >
    <p class="text-preset-4">3</p>
  </a>
</nav>
